In [1]:
#singlr linr commrnt

In [5]:
""" 
double line comment.
 multi-line comments are technically not comments in the strictest sense, they are commonly used for documentation purposes and are treated similarly to comments by Python programmers.
"""

' \ndouble line comment.\n multi-line comments are technically not comments in the strictest sense, they are commonly used for documentation purposes and are treated similarly to comments by Python programmers.\n'

In [6]:
#variables are used to store data values. Variables act as containers that hold data which can be manipulated and referenced throughout the program.

In [7]:
# Variable declaration and assignment
variable_name = value

# Examples
x = 5                 # x is a variable holding an integer value
name = "John"         # name is a variable holding a string value
pi = 3.14             # pi is a variable holding a float value
is_python_fun = True  # is_python_fun is a variable holding a boolean value

NameError: name 'value' is not defined

In [ ]:
#you can convert one data type to another using built-in functions or constructors. Here are some common ways to perform type conversion:

Using built-in functions:
int(): Converts a value to an integer.
float(): Converts a value to a floating-point number.
str(): Converts a value to a string.
bool(): Converts a value to a boolean.

In [ ]:
#x = 10
y = float(x)   # Converts integer to float
z = str(x)     # Converts integer to string
w = bool(x)    # Converts integer to boolean

In [ ]:
#Using a text editor or an Integrated Development Environment (IDE), write your Python script and save it with a .py extension. For example, you can create a file named myscript.py

In [ ]:
     my_list = [1, 2, 3, 4, 5]

# Slice the list to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)  # Output: [2, 3]

In [ ]:
#In mathematics, a complex number is a number that can be expressed in the form a + bi

In [ ]:
# Using parentheses and a comma to specify real and imaginary parts
z1 = complex(3, 4)  # 3 + 4i

# Using the j suffix to denote the imaginary part
z2 = 2 + 5j  # 2 + 5i

# Complex number with zero real part
z3 = 0 + 2j  # 2i

In [ ]:
age = 25

In [ ]:

price = 9.99
#The variable price belongs to the data type float.

In [ ]:
name = "SHIVAM KUMAR"
Print(name)

In [ ]:
# Given string
string = "Hello, World!"

# Extracting the substring "World"
substring = string[7:12]

# Print the extracted substring
print(substring)

In [ ]:
is_student = True